<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <title>TechBlog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
     <div class="navbar-container">
       <h1 class="navbar-title navbar-brand">Tech Blog</h1>
       <a class="navbar-el" href="/">Home</a>
       <a class="navbar-el" href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <div class="logout-container">
          <li class="list-element-nav-logout navbar-item">
            <a href="/">
              <button type="button" id="btn-logout" class="btn-navbar btn btn-danger">Logout</button>
            </a>
          </li>
        </div>
        {{!-- <li class="nav-item">
          <a href="/post">
            <button type="button" id="btn-create-post" class="btn btn-warning">+ New Post</button>
          </a>
        </li> --}}
        {{else}}
        <div class="login-container">
          <li class="list-element-nav-login navbar-item" >
            <a href="/login">
              <button type="button" class="btn-navbar btn btn-success">Login</button>
            </a>
          </li>
          <li class="list-element-nav-login navbar-item">
            <a href="/signup">
              <button type="button" class="btn-navbar btn btn-primary">Sign Up</button>
            </a>
          </li>
        </div>
        {{/if}}
      </div>
    </nav>
  </header>

    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>

    <footer>
      
    </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>