<div class="card">
  <h7 class="card-header">Created by {{user.username}} on {{format_date date_created}}</h7>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{post_content}}</p>
    <a href="" class="btn btn-primary">Comments</a>
  </div>
</div>