<div class="card">
  <h7 class="card-header">Created by {{user.username}} on {{format_date date_created}}</h7>
  <div class="card-body">
    <textarea class="form-control" id="content-post" rows="5">{{title}}</textarea>
    <textarea class="form-control" id="content-post" rows="5">{{post_content}}</textarea>
    <button type="submit" class="btn btn-primary">Update Post</button>
    <button type="submit" class="btn btn-primary">Delete</button>
  </div>
</div>